/* index.css */
@tailwind utilities;

body {
  background-image: url("/src/Image/fondoKOI.jpg");
  background-size: cover;
  background-attachment: fixed; /* Fijamos el fondo en su lugar */
  border-image-outset: 12px;
  width:max-content;
  height: 100vh;
  margin:auto;
}




/* Estilos para el contenedor principal (#root) 
root {

  display: flex; /* Puedes aplicar flex aquí si es necesario
  ustify-content: center; /* Centra el contenido de #root horizontalmente
  align-items: center;  Centra el contenido de #root verticalmente
  height: 100%; /* Hace que #root ocupe el 100% de la altura del body
  margin-top: 2px;
  padding: 0; 
}
*/ 

