/* index.css */
body {
  background-image: url("/src/Image/fondoKOI.jpeg");
  background-position: center;
  background-repeat:space;
  background-size: cover; 
  height:max-content;
  width: max-content;
  margin:auto;
}

/* Estilos para el contenedor principal (#root) */
/*root {
}*/

  /*display: flex; /* Puedes aplicar flex aquí si es necesario */
  /*justify-content: center; /* Centra el contenido de #root horizontalmente */
  /* align-items: center;  Centra el contenido de #root verticalmente */
  /* height: 100%; /* Hace que #root ocupe el 100% de la altura del body */
  /* margin-top: 2px; */
  /* padding: 0; */ 

