/* styles.css */
@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');



/* Estilos generales */
body {
  height:max-content;
  width: max-content;
  background-color: #ffb977; /* Color de fondo suave */
  padding: 0;
  }

/* Estilos específicos para el navbar */
.navbar {
  background-color: whitesmoke; /* Color de fondo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  position: fixed; /* Fija la barra de navegación en la parte superior */
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; /* Asegura que la barra de navegación esté por encima de otros elementos */
}



/* Ajusta el espacio entre la barra de navegación y el contenido */
.main-content {
  margin-top: 64px; /* Ajusta el valor según la altura de tu barra de navegación */
}

/* Ajusta el margen lateral y la anchura máxima del contenido
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; /* Ancho máximo del contenido 
} */

/* Asegura que el contenido esté centrado verticalmente */
.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 64px); /* Toma la altura total de la ventana del navegador y resta la altura de la barra de navegación */
}

/* Agrega un margen superior para separar el contenido principal de la barra de navegación */
.spacer {
  margin-top: 64px; /* Ajusta el valor según la altura de tu barra de navegación */
}

/* Estilo para el footer */
Footer {
  background-color: rgb(255, 255, 255); /* Color de fondo */
  position: fixed; /* Fijar en la parte inferior */
  bottom: 0; /* Pegado al fondo */
  left: 0;
  right: 0;
  width: 100%; /* Ocupa todo el ancho */
  z-index: 999; /* Asegura que esté por encima de otros elementos */
  padding: 5px; /* Espaciado interno */
  text-align: center;
  display: flex; /* Utiliza flexbox para los elementos internos */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  
  
}

