/* Main.css */

.main-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f2f2f2; /* Gris claro */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.crear-proyecto-btn {
  padding: 10px 20px;
  background-color: #8d6e63; /* Marrón claro */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.crear-proyecto-btn:hover {
  background-color: #795548; /* Marrón más oscuro */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.form-container {
  margin-top: 20px;
}

.proyecto {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc; /* Borde gris */
  list-style-type: none; /* Quitar puntos de la lista */
}

.proyecto-info {
  margin-bottom: 15px;
}

.proyecto-info div {
  margin-bottom: 10px;
  font-size: 16px;
}

.botones-proyecto {
  display: flex;
  justify-content: flex-end; /* Botones a la derecha */
}

.botones-proyecto button {
  padding: 8px 15px;
  margin-left: 10px; /* Separación mínima entre botones */
  background-color: #8d6e63; /* Marrón claro */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botones-proyecto button:hover {
  background-color: #795548; /* Marrón más oscuro */
}

