/* ProyectoForm.css */
.proyecto-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.proyecto-form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.proyecto-form-container .form-group {
  margin-bottom: 20px;
}

.proyecto-form-container label {
  font-weight: bold;
}

.proyecto-form-container input[type="text"],
.proyecto-form-container textarea,
.proyecto-form-container input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.proyecto-form-container textarea {
  height: 100px;
}

.proyecto-form-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.proyecto-form-container button:hover {
  background-color: #0056b3;
}

/* ProyectoEdit.css */
.proyecto-edit-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.proyecto-edit-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.proyecto-edit-container .form-group {
  margin-bottom: 20px;
}

.proyecto-edit-container label {
  font-weight: bold;
}

.proyecto-edit-container input[type="text"],
.proyecto-edit-container textarea,
.proyecto-edit-container input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.proyecto-edit-container textarea {
  height: 100px;
}

.proyecto-edit-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.proyecto-edit-container button:hover {
  background-color: #0056b3;
}
