/* ProyectoEdit.css */
.proyecto-edit-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.proyecto-edit-container h2 {
  margin: 0 0 20px;
  font-size: 24px;
  color: #333;
}

.proyecto-edit-container .form-group {
  margin-bottom: 20px;
}

.proyecto-edit-container label {
  font-weight: bold;
}

.proyecto-edit-container input[type="text"],
.proyecto-edit-container textarea,
.proyecto-edit-container input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.proyecto-edit-container textarea {
  height: 100px;
}

.proyecto-edit-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.proyecto-edit-container button:hover {
  background-color: #0056b3;
}
