.editar-proyecto-form-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .editar-proyecto-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .editar-proyecto-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .editar-proyecto-form .form-group {
    margin-bottom: 20px;
  }
  
  .editar-proyecto-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .editar-proyecto-form input[type="text"],
  .editar-proyecto-form input[type="date"],
  .editar-proyecto-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .editar-proyecto-form textarea {
    height: 100px; /* Ajusta la altura del textarea según sea necesario */
  }
  
  .editar-proyecto-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .editar-proyecto-form button:hover {
    background-color: #0056b3;
  }
  